html, body {
	color: #333;
	font: 16px/1.5 sans-serif;
}
.about {
	font-size: 1.2em;
	margin: 10em auto 4em auto;
	max-width: 600px;
	width: 90%;
}
.about p {
	margin: 2em auto;
}
.about__wide {
	max-width: 960px;
	width: 100%;
}
.svg-container {;
	display: block;
}
.countries {
	stroke: #3d3d3d;
	stroke-width: 0.5px;
}
.country-annotation {
	fill: #fff;
	stroke: #3d3d3d;
	stroke-width: 0.5px;
}
.country-annotation-name {
	fill: #3d3d3d;
	font-size: 14px;
}
.map-title {
	alignment-baseline: middle;
	fill: #3d3d3d;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 2px;
	text-anchor: middle;
	text-transform: uppercase;
}
.legend {
	fill: url('#svgGradient');
	stroke: #3d3d3d;
	stroke-width: 0.5px;
}
.legend-text {
	alignment-baseline: middle;
	fill: #3d3d3d;
	font-size: 10px;
}
main {
	margin: 0 auto;
	width: 100%;
}
h1, h2 {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.figure-container {
	width: 100%;
}
.svg-container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.range-container {
	text-align: center;
}
.svg-explanation {
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	width: 40%;
}
input[type="range"] {
	vertical-align: middle;
}
input[type="range"]:hover {
	cursor: pointer;
}
.explanation {
	color: #3d3d3d;
	font-size: 0.8rem;
	font-style: italic;
	margin: 1rem 0;
}
.center-content {
	text-align: center;
}
.play-button {
	border: 1px solid #ccc;
	display: inline-block;
	line-height: 0;
	margin-right: 1rem;
	padding: 0.2rem 0.5rem;
}
.play-button:hover {
	cursor: pointer;
}
.play-button:active {
	background: #ccc;
}
.play-button svg {
	stroke: #3d3d3d;
	vertical-align: middle;
}
.lineplot {
	margin: 2rem 0;
}
.axis path {
	stroke: #fff;
}
.tick line {
	stroke: #ccc;
}
.x-axis text {
	font-size: 12px;
}
.country-label {
	alignment-baseline: middle;
	fill: #3d3d3d;
	font-size: 12px;
}
@media only screen and (max-width: 768px){
	.figure-container {
		text-align: center;
	}
	.svg-container, .svg-explanation {
		width: 96%;
	}
	.svg-explanation {
		text-align: left;
	}
}